Simple template example.
this is template sample, which uses variable 'custom_option' initialized from CLI with value ${custom_option}

use command:

universal-configenerator --custom-option="<any_value>" "${template_path}"

for text generation from template.

PLEASE, READ 'IMPORTANT' SECTION OF README.md FILE
