Simple template example with custom 'resolve' filter usage demonstration.

Custom filter 'resolve' can be used for hostname resolution with IP address family filtration.
For example, to get IPv4 addresses for 'yandex.ru' host use:
    {{'{{'}}"yandex.ru"|resolve}}
and filtration will give you list of IPs:
    {{"yandex.ru"|resolve}}

By default, 'resolve' filter returns full list of IPs for given host, but you can make it to filter addresses by family type:
    {{'{{'}}"yandex.ru"|resolve("IPv4")}}		-> {{"yandex.ru"|resolve("IPv4")}}
    {{'{{'}}"yandex.ru"|resolve("IPv6")}}		-> {{"yandex.ru"|resolve("IPv6")}}
    {{'{{'}}"yandex.ru"|resolve(["IPv4", "IPv6"])}}	-> {{"yandex.ru"|resolve(["IPv4", "IPv6"])}}
