Simple template example with custom 'include_file' function usage demonstration.

This function allows you to include file contents without parsing (raw include).
So, this function allows you to include any file by full or relative path.

For example, this is raw 'duplication' of this file.

===================================

{{ include_file(template_path) }}
